In [1]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline

In [2]:
# Reading data using pandas

df = pd.read_csv("data.csv")
print("Data imported successfully")

df.head(10)

Data imported successfully

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25

In [15]:
X = df.drop("Scores",axis = 1)
y = df["Scores"]

SyntaxError: invalid syntax (<ipython-input-15-6417d460d160>, line 2)

In [12]:
type(X)

pandas.core.frame.DataFrame

In [11]:
type(y)

pandas.core.series.Series